.section__payment {
    padding: 64px 0 72px 0;
    font-family: Segoe UI;
    font-style: normal;
}
.payment__title {
    max-width: 470px;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #002033;
    margin-bottom: 16px;
}
.payment__text {
    max-width: 484px;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #002033;
    margin-bottom: 48px;
}
.payment__row {
    display: flex;
    justify-content: space-between;
}
.payment__row-item {
    max-width: 340px;

    & .paymnet__row-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #002033;
        margin-bottom: 16px;
    
        & span{
            color: #E02348;
        }
    }

    & p{
        font-weight: normal;
        font-size: 16px;
        line-height: 145%;
        color: #002033;
    }
}
.payment__item-img {
    margin-bottom: 16px;
}

@media (max-width: 1200px) {
    .payment__row{
        flex-wrap: wrap;
    }
    .payment__row-item{
        flex-basis: 345px;
        &:first-child{
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 768px) {
    .section__payment{
        padding: 40px 0 56px 0;
    }
    .payment__title{
        max-width: 100%;
        font-size: 20px;
    }
    .payment__text{
        font-size: 14px;
        margin-bottom: 24px;
    }
    .payment__item-img{
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .payment__row-item {
    
        & .paymnet__row-title{
            font-size: 16px;
            margin-bottom: 4px;
        }
        &:nth-child(2){
            margin-bottom: 24px;
        }
    }
}